#fiches {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin : 1rem;
}

.fiche-card {
    width: 150px;
    height: 150px;
    border: 1px solid #692323;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}